.vscode/**
.vscode-test/**
.turbo/**
node_modules/**
extension/src/**
scripts/**
webview/src/**
webview/index.html
webview/vite.config.ts
extension/tsconfig.json
**/*.ts
**/*.tsx
**/*.map
**/*.tsbuildinfo
**/.gitkeep
*.vsix
dist/*.tsbuildinfo
dist/**/*.tsbuildinfo
